{
    "presets": ["@babel/preset-react"],
    "plugins": [
        [
            "styless",
            {
                "import": "~antd/lib/style/themes/default.less",
                "lessOptions": {
                    "modifyVars": { "@primary-color": "#1DA57A" },
                    "javascriptEnabled": true
                }
            }
        ]
    ]
}